* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  border: none;
  outline: none;
}

:root {
  --textcolor: whitesmoke;
  --background: #081b29;
  --maincolor: #00abf0;
  --background2: #112e42;
}
body {
  background: var(--background);
  color: var(--textcolor);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}

.logo {
  font-size: 24px;
  text-decoration: none;
  color: var(--textcolor);
  font-weight: 700;
}

.navbar a {
  font-size: 18px;
  color: var(--textcolor);
  text-decoration: none;
  font-weight: 500;
  margin-left: 24px;
}
.navbar a:last-child {
  display: inline-flex;
  position: relative;
  border: 2px solid var(--maincolor);
  border-radius: 8px;
  padding: 5px;
  color: var(--background);
  background: transparent;
  z-index: 1;
  transition: 0.4s;
  overflow: hidden;
}

.navbar a:last-child::before {
  content: "";
  position: absolute;
  background: var(--maincolor);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: 0.8s;
}

.navbar a:last-child:hover::before {
  width: 0;
}

.navbar a:hover,
.navbar a.current {
  color: var(--maincolor);
}

.home {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 0 10%;
}

.home-text {
  max-width: 600px;
}

.home-text h1 {
  font-size: 52px;
  font-weight: 700;
  line-height: 1.2;
}
.home-text h3 {
  font-size: 28px;
  font-weight: 700;
  color: var(--maincolor);
}

.home-text p {
  font-size: 16px;
  margin: 20px 0;
  margin-bottom: 30px;
}

.btns {
  width: 340px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.btns a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  border: 2px solid var(--maincolor);
  background: var(--maincolor);
  border-radius: 8px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.8px;
  color: var(--background);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btns a:nth-child(2) {
  background: transparent;
  color: var(--maincolor);
}

.btns a:nth-child(2):hover {
  color: var(--background);
}
.btns a:nth-child(2)::before {
  background: var(--maincolor);
}

.btns a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--background);
  z-index: -1;
  transition: 0.3s;
}

.btns a:hover {
  color: var(--maincolor);
}

.btns a:hover::before {
  width: 100%;
}

.socials {
  position: absolute;
  bottom: 80px;
  width: 120px;
  display: flex;
  justify-content: space-between;
}

.socials a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background: transparent;
  border: 2px solid var(--maincolor);
  border-radius: 50%;
  font-size: 28px;
  color: var(--maincolor);
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}
.socials a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--maincolor);
  z-index: -1;
  transition: 0.5s;
}

.socials a:hover::before {
  width: 100%;
}

.socials a:hover {
  color: var(--background);
}
