* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  border: none;
  outline: none;
}

:root {
  --textcolor: #ffffff;
  --background: #1f1f1f;
  --maincolor: #ff6600;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  color: var(--textcolor);
  background: var(--background);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}

.logo {
  font-size: 2.4rem;
  text-decoration: none;
  color: var(--textcolor);
  font-weight: 700;
}

/* */

.navbar a {
  font-size: 1.8rem;
  color: var(--textcolor);
  text-decoration: none;
  font-weight: 500;
  margin-left: 3rem;
}
.navbar a:last-child {
  display: inline-flexc;
  position: relative;
  border: 0.2rem solid var(--maincolor);
  border-radius: 0.8rem;
  padding: 0.5rem;
  color: var(--background);
  background: transparent;
  z-index: 1;
  transition: 0.4s;
  overflow: hidden;
}

.navbar a:last-child::before {
  content: "";
  position: absolute;
  background: var(--maincolor);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: 0.8s;
}

.navbar a:last-child:hover::before {
  width: 0;
}

.navbar a:hover,
.navbar a.current {
  color: var(--maincolor);
}

.dark-mode {
  background-color: transparent;
  color: var(--maincolor);
  width: 2.4rem;
  height: 2.4rem;
  font-size: 2.4rem;
  cursor: pointer;
  padding: 0.3rem;
  position: absolute;
  right: 7.5rem;
  top: 1.8rem;
}

.home {
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding: 0 10%;
  background: url(background-landing-page.jpeg), no-repeat;
  background-size: cover;
  background-position: center;
}

.home-text {
  max-width: 60rem;
}

.home-text h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.2;
}
.home-text h3 {
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--maincolor);
}

.home-text p {
  font-size: 1.6rem;
  margin: 2rem 0;
  margin-bottom: 3rem;
}

.btns {
  width: 34rem;
  height: 5rem;
  display: flex;
  justify-content: space-between;
}

.btns a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 100%;
  border: 0.2rem solid var(--maincolor);
  background: var(--maincolor);
  border-radius: 0.8rem;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.8px;
  color: var(--background);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btns a:nth-child(2) {
  background: transparent;
  color: var(--maincolor);
}

.btns a:nth-child(2):hover {
  color: var(--background);
}
.btns a:nth-child(2)::before {
  background: var(--maincolor);
}

.btns a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--background);
  z-index: -1;
  transition: 0.3s;
}

.btns a:hover {
  color: var(--maincolor);
}

.btns a:hover::before {
  width: 100%;
}

.socials {
  position: absolute;
  bottom: 8rem;
  width: 12rem;
  display: flex;
  justify-content: space-between;
}

.socials a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background: transparent;
  border: 0.2rem solid var(--maincolor);
  border-radius: 50%;
  font-size: 28px;
  color: var(--maincolor);
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}
.socials a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--maincolor);
  z-index: -1;
  transition: 0.5s;
}

.socials a:hover::before {
  width: 100%;
}

.socials a:hover {
  color: var(--background);
}

#menu-icon {
  font-size: 3.6rem;
  cursor: pointer;
  color: var(--textcolor);
  display: none;
}

.img-hover {
  position: absolute;
  top: 0;
  right: 0;
  width: 44%;
  height: 100%;
  opacity: 0.7;
  background-color: var(--background);
}

.img-hover:hover {
  background: transparent;
  transition: 3s;
}

